[submodule "zfs"]
	path = zfs
	url = https://github.com/openzfs/zfs.git
[submodule "linux"]
	path = linux
	url = https://atomgit.com/openeuler/kernel
[submodule "modules/r8125/r8125"]
	path = modules/r8125/r8125
	url = https://github.com/awesometic/realtek-r8125-dkms.git
